.app {
  height: 100vh;
  width: 100vw;
  .container {
    height: 100%;
  }
}
.body {
  height: calc(100% - 64px - 64px);
  .sideBarMenu {
    height: 100%;
    overflow: auto;
  }
}
.footer {
  height: 64px;
  background-color: pink;
}